@media(min-width:768px){
    .header.mobile{
        display: none;
    }
} 
@media(max-width:1200px){

}
@media(min-width:992px)and (max-width:1200px) {
    .text .name .color {
        font-size: 3rem;
        width: 400px !important;
    }

    .banner {
        margin-top: 5rem;
        gap: 4rem;
    }

    .text .des {
        font-size: 1.6rem;
        line-height: 40px;
    }

    .sta-section .sta-head,
    .timeline-section .title .xl-title,
    .skills-section h1,
    .contact-section .h .one, .project-section .h .one {
        font-size: 2.5rem;

    }

    .sta-section .numbers .num .number {
        font-size: 3.5rem;
    }

    .timeline_container .timeline .timeline-item .timeline-content h3 {
        font-size: 1.2rem;
    }

    .timeline_container .timeline .timeline-item .timeline-content p {
        font-size: 0.9rem;
    }

    .timeline-item:nth-child(odd) .timeline-circle {
        left: 20px;
    }

    .timeline-item:nth-child(odd) {
        left: 170px !important;
    }

    .timeline_container .timeline .timeline-item .timeline-content {
        left: 20px;
    }
}

@media(min-width:768px)and (max-width:991px) {
    .text .name .color {
        font-size: 2rem;
    }

    .text .name {
        font-size: 1.7rem;
        width: 300px;
    }

    .banner {
        margin-top: 3rem;
        gap: 3rem;
    }

    .text .des {
        font-size: 1.2rem;
        line-height: 30px;
    }
    .footer .flex .f-1{
        font-size: 1.1rem;
    }
    .banner .img-banner svg {
        width: 300px;
        height: 300px;
    }

    .sta-section .sta-head,
    .timeline-section .title .xl-title,
    .contact-section .h .one, .project-section .h .one {
        font-size: 2rem;
    }

    .sta-section .numbers .num .number {
        font-size: 2.3rem;
    }

    .sta-section .numbers .num .title {
        font-size: 1.2rem;
    }

    .sta-section .numbers {
        gap: 10rem;

    }

    .timeline-section .buttons .btn .type {
        font-size: 15px;
    }

    .timeline_container .timeline .timeline-item .timeline-content h3 {
        font-size: 1rem;
    }

    .timeline_container .timeline .timeline-item .timeline-content p {
        font-size: 0.8rem;
    }

    .timeline-item:nth-child(odd) .timeline-circle {
        left: 20px;
    }

    .timeline-item:nth-child(odd) {
        left: 170px !important;
    }

    .timeline_container .timeline .timeline-item .timeline-content.one {
        left: 85px !important;
        position: relative;
        width: 270px;
    }

    .timeline_container .timeline .timeline-item .timeline-content.two {
        left: 18px !important;
        position: relative;
        width: 250px;
    }
    .contact-section .h .two,
    .timeline-section .title .color-title{
        font-size:1.2rem ;
    }
    .contact-section .flex .contact-me .text .title{
        font-size: 1.5rem;
    }
    .contact-section .flex .contact-me .text .way {
        font-size: 0.9rem;

    }
    .contact-section .flex{
        justify-content: center;
        gap: 2rem;
        align-items: center;
    }
    .contact-section .flex .contact-me .icon i{
        font-size: 3rem;
    }
    .icons button{
        width: 110px;
    }

}

@media(max-width:767px) {
    .container {
        padding: 2rem 1rem;
    }

    .timeline-section .title .color-title {
        font-size: 1rem;
    }

    .text .name .color {
        font-size: 1.7rem;
        text-align: center;
    }

    .text .name {
        font-size: 1.7rem;
        width: 300px;
        text-align: center;
    }

    .banner {
        margin-top: 1rem;
        gap: 1.5rem;
        flex-direction: column;
    }

    .text .des {
        font-size: 1rem;
        line-height: 20px;
        text-align: center;
        margin-top: 10px;
    }

    .banner .img-banner svg {
        width: 200px;
        height: 200px;
    }

    .banner .buttons .style-button {
        width: 140px;
        height: 40px;
        font-size: 1rem;
    }

    .banner .buttons .contact {
        font-size: 1rem;
    }

    .banner .buttons {
        justify-content: center;
    }

    .banner .text .social-icon {
        justify-content: center;
        align-items: center;
    }

    .sta-section {
        margin-top: 5rem;
    }

    .sta-section .sta-head,
    .timeline-section .title .xl-title,
    .contact-section .h .one,
    .project-section .h .one,
    .skills-section h1 {
        font-size: 1.5rem;
    }

    .sta-section .numbers .num .number {
        font-size: 2rem;
    }
    .contact-section .flex .contact-me .text .title{
        font-size: 1.2rem;
    }
    .contact-section .flex .contact-me .text .way a{
        font-size: 1rem;
    }

    .sta-section .numbers .num .title {
        font-size: 1rem;
    }

    .sta-section .numbers {
        gap: 2.3rem;
        flex-direction: column;

    }

    .timeline-section .buttons .btn .type {
        font-size: 15px;
    }

    .timeline-section .buttons .btn .type {
        font-size: 15px;
    }

    .timeline_container .timeline .timeline-item .timeline-content h3 {
        font-size: 1rem;
    }

    .timeline_container .timeline .timeline-item .timeline-content p {
        font-size: 0.8rem;
    }

    .timeline-item:nth-child(odd) .timeline-circle {
        left: 20px;
    }

    .timeline-item:nth-child(odd) {
        left: 170px !important;
    }

    .timeline_container .timeline .timeline-item .timeline-content.one {
        left: 85px !important;
        position: relative;
        width: 270px;
    }

    .timeline_container .timeline .timeline-item .timeline-content.two {
        left: 18px !important;
        position: relative;
        width: 250px;
    }

    .skills-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-section .flex {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 3rem;
        flex-direction: column;
        align-items: center;
        gap: 2.3rem;
    }
    .header.mobile{
        display: block;
    }
    .contact-section .h .two{
        font-size: 1rem;
    }
    .footer .flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
    }
    .footer {
        margin-top: 8rem;
    }
    .swiper-slide .title{
        font-size: 20px;
    }
    .swiper-slide .subtitle{
        font-size: 15px;
    }
    .swiper-slide .link-swiper .button{
        font-size: 1rem;
        width: 65px;
    }
    .contact-section .flex .contact-me .icon i{
        font-size: 2.3rem;
    }
    .skills-section h1{
        padding-top: 0;
    }
    .footer .flex .f-1{
        font-size: 1.1rem;
    }
    .footer .flex .f-2 .social-icon a i{
        font-size: 1.5rem;
    }
    #desktop{
        display: none;
    }


}

@media(max-width:600px) {

    .timeline-top-circle,
    .timeline-item:nth-child(odd) .timeline-circle,
    .timeline-bottom-circle,
    .timeline-item:nth-child(even) .timeline-circle,
    .timeline-line {
        display: none;
    }

    .timeline_container .timeline .timeline-item .timeline-content.one {
        left: 78% !important;
    }

    .timeline {
        text-align: center;
        justify-content: center;
    }

    .timeline_container {
        margin: 0;
    }

    .timeline-section .buttons {
        padding-top: 3rem;
    }

    .timeline {
        height: 385px;
    }

    .timeline-item {
        width: 350px;
        padding: 0;
    }

    .timeline-content {
        padding: 0;
    }

    .timeline-item:nth-child(odd) {
        left: 12% !important;
    }
    .swiper-slide .title{
        font-size: 15px;
    }
    .swiper-slide .subtitle{
        font-size: 10px;
    }
    .swiper-slide .link-swiper .button{
        font-size: 1rem;
        width: 65px;
    }


}